<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Vue Firebase Authentication</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      
 
        <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
   
        <div id="app">
            <div class="container">
                <div class="row col s1 center-align">
                    
                    <h1 v-if="!authUser">Vue Firebase Authentication</h1>
                    <h5 style="color: red">{{ error }}</h5>

                    <div v-if="authUser" style="margin-top: 5%" >
                          <h4 style="margin-bottom: 10%">Signed in as {{ authUser.email }}</h4>
                          <div style=" border: medium solid cadetblue; display:block; padding: 5% 0 5% 0; overflow: auto ">
                                <div id="left" style="display: inline-block; width: 30%; float: left;   ">
                                <img v-if="authUser.photoURL" :src="authUser.photoURL" height="150" > 
                                <i v-if="!authUser.photoURL" class="material-icons prefix large">account_circle</i>
                                <p>Welcome {{ authUser.displayName || "my friend" }}</p>
                                <br>
                                <button @click="signOut"
                                        class="waves-effect waves-green grey lighten-2 btn-flat"
                                      >Sign Out</button>
                                </div>
                                <form @submit.prevent="storeMessage">
                                <div id="right" style="display: inline-block; width: 70%;  padding: 0 5% 0 5%; float: right;  ">
                                 <h5 style="margin-top: -2%">What is the most important thing in life for you?</h5>
                                        <div class="input-field col s12" style="margin-top: 5%">
                                          <i class="material-icons prefix">mode_edit</i>
                                          <textarea id="icon_prefix2" class="materialize-textarea" v-model="messageText"></textarea>
                                          <label for="icon_prefix2">The most important for me is ...</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">insert_emoticon</i>
                                          <textarea id="textarea1" class="materialize-textarea" v-model="nickname"></textarea>
                                          <label for="textarea1">Your Nickname</label>
                                        </div>
                                       
                                            <button class="right waves-effect waves-green lime accent-4 btn-flat btnSubmitThoughts" >Submit</button>
                                          </div>
                                         </form>
                                </div>
                              

                        
                        <br/>
                        <div v-for="message in messages" class="card">
                            <div class="card-content">
                              <p>{{ message.text }}</p>
                            </div>
                            <div class="card-content blue-grey lighten-4">
                              <p class="right" id="test4"><b>User: {{ message.nickname }}</b></p><br/>
                            </div>
                          </div>
                        </div>
                        
                    <button v-if="!authUser" class="btn-floating btn-large cyan pulse waves-effect waves-light modal-trigger"  href="#modal1"><i class="material-icons">menu</i></button>
                    <button v-if="!authUser" class="btn-floating btn-large orange pulse waves-effect waves-light modal-trigger"  href="#modal2"><i class="material-icons">menu</i></button>
                    
                    <div id="modal1" class="modal">
                      <div class="modal-content">
                        <h4>Register to find out the meaning of life</h4>
                        
                              <div class="row" style="margin: 0 !important">
                                    <form @submit.prevent="register">
                                      <div class="row">
                                        <div class="input-field col s12">
                                          <input  id="first_name" 
                                                  type="text" 
                                                  class="validate"
                                                  v-model="name">
                                          <label for="first_name"> First Name</label>
                                        </div>
                                      </div>


                                      <div class="row">
                                            <div class="input-field col s12">
                                              <input id="email" 
                                                     type="email" 
                                                     class="validate"
                                                     v-model="email">
                                              <label for="email">Email</label>
                                            </div>
                                        </div>


                                      <div class="row">
                                        <div class="input-field col s12">
                                          <input id="password" 
                                                 type="password" 
                                                 class="validate"
                                                 v-model="password">
                                          <label for="password">Password</label>
                                        </div>
                                      </div>
                                      <h5 style="color: red">{{ infoWrong }}</h5>
                                      <button class="btn waves-effect waves-light orange modal-close " 
                                             
                                              
                                              >Submit
                                            <i class="material-icons right">send</i>
                                          </button>
                                          <br/>
                                          <h3>or</h3>
                                          <img src="assets/buttonG.png" @click="signInWithGoogle" class=" modal-close ">
                                        </form>
                                   
                                
                            </div>
                            <!-- <div class="modal-footer">
                              <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                            </div> -->
                        </div>
                        </div>
                     

                        <div id="modal2" class="modal">
                          <div class="modal-content">
                            <h4>Sign in</h4>
                            
                                  <div class="row" style="margin: 0 !important">
                                        <form @submit.prevent="signIn">
    
                                          <div class="row">
                                                <div class="input-field col s12">
                                                  <input id="email2" 
                                                         type="email" 
                                                         class="validate"
                                                         v-model="email">
                                                  <label for="email">Email</label>
                                                </div>
                                            </div>
    
    
                                          <div class="row">
                                            <div class="input-field col s12">
                                              <input id="password2" 
                                                     type="password" 
                                                     class="validate"
                                                     v-model="password">
                                              <label for="password">Password</label>
                                            </div>
                                          </div>
                                          <h5 style="color: red">{{ infoWrong }}</h5>
                                          <button class="btn waves-effect waves-light blue modal-close " 
                                                 
                                                  
                                                  >Submit
                                                <i class="material-icons right">send</i>
                                              </button>
                                            </form>
                                       
                                    
                                </div>
                                <!-- <div class="modal-footer">
                                  <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                                </div> -->
                            </div>
                            </div>

                      </div></div>
        </div>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.2.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.2.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.2.2/firebase-database.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="main.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

<script>

// --------------------------------------------------------------------
//  We can store these data in variables and reference them later in the code
// const auth = firebase.auth();
// const db = firebase.firestore();

// // -----------------------------------------------------------------

// // update firestore settings
// db.settings({timestampsInSnapshots: true});
// Your web app's Firebase configuration


const firebaseConfig = {
    apiKey: "AIzaSyBg5xYJXnK3-m0oeklVoSkrA5pZ_76ht3k",
    authDomain: "fancy-firebase-auth-with-vue.firebaseapp.com",
    databaseURL: "https://fancy-firebase-auth-with-vue.firebaseio.com",
    projectId: "fancy-firebase-auth-with-vue",
    storageBucket: "fancy-firebase-auth-with-vue.appspot.com",
    messagingSenderId: "560035473809",
    appId: "1:560035473809:web:6abe2d187b2f5454"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  const database = firebase.database();

  
  

new Vue({
    el: '#app',
    data: {
      email: '',
      password: '',
      authUser: null,
      infoWrong: '',
      name: '',
      error: '',
      messages:[],
      messageText: '',
      nickname: ''
    },
    methods: {
      register () {
        firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
        .then(() => console.log('all good'))
        .catch(error => this.error = error.message)

        firebase.auth().onAuthStateChanged(user => { this.email = '' })
        firebase.auth().onAuthStateChanged(user => { this.password = '' })
      },
      signOut () {
        firebase.auth().signOut()
      },
    //   reset() {
    //       let mmm = document.querySelector('#submitForm')
    //       mmm.reset()
    //   }
      signIn () {
        firebase.auth().signInWithEmailAndPassword(this.email, this.password)
        .then(() => console.log('all good'))
        .catch(error => this.error = error.message)
      },
      signInWithGoogle() {
        const provider = new firebase.auth.GoogleAuthProvider()
        firebase.auth().signInWithPopup(provider)
        .then(data => console.log('Success'))
        .catch(error => this.error = error.message)
       
      },

      storeMessage() {
        
        database.ref('most_important').push({text: this.messageText, nickname: this.nickname})
        this.messageText = ''
        this.nickname = ''
      }
    //   checkIfError() {
    //         if(this.email == '' && this.password== '') {
    //             console.log('Wrong data provided')
    //             this.infoWrong = 'You cannot submit an empty form'
    //         } else {
    //             this.infoWrong = ''  
    //         }
    //     }
    },
    created () {
      firebase.auth().onAuthStateChanged(user => { this.authUser = user })
      // firebase.auth().onAuthStateChanged(user => { this.password = '' })
      // firebase.auth().onAuthStateChanged(user => { this.email = '' })
      database.ref('most_important').on('child_added',  snapshot => this.messages.push(snapshot.val()))
     
      
    }
  })



</script>

</body>
</html>